* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}
nav {
  height: 50px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav {
    height: 50px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  
  #app{
      padding: 30px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      
  }

  .home .testButton{
    margin: 0 auto;
    padding: 20px; 
    width: 200px;
    cursor: pointer;
    background-color: pink; 
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  .home title{
    margin: 0 auto;
    display: flex;
  }
  .home .zero{
    margin: 0 auto;
    display: flex;
    width: 600px;
    margin-bottom: 20px;
  }
  .one{
    margin-left:200px;
    margin-right: 20px;
  }

  .about {
    display: flex;
    margin: 0 auto;
    
    .flex{
        flex-direction: column;
        margin: 0 auto;
    p{
        width: 500px;
       
    }

}
    img{
        width: 650px;
        height: 400px;
        margin-top: 70px;
        margin-left:20px;
    }
    
}

.pics{
    display: flex;
    margin-top:100px;
    img{
        margin: 0 auto;
    
    }
}

.yuh{
    p{
        text-align: center;
    }
    .row1{
        margin-left:150px;
        margin-bottom: 20px;
        
    }
    .row2{
        margin-left:150px;
        margin-bottom: 20px;
    }
}
    .contact{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        h1{
            text-align: center;
        }
        img{
            margin: 0 auto;
            display: flex;
        }
        p{
            width: 350px;
            margin: 0 auto;
        }
        input{
            display: flex;
            height: 50px;
            width: 350px;
            border: pink 2px ridge;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            flex-direction: column;
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        button{
            background-color: pink;
            margin: 0 auto;
            height: 30px;
            width: 150px;
            justify-content: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            border: none;
            
        }
        .flex{
            display: flex;
            flex-direction: column;
            
        }
        .long{
            p{
                width: 100%;
                margin-top: 10px;
        }
    }
    
    }
    .anti{
        img{
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }